@charset "utf-8";
/* CSS Document */

.content{ width:1021px; margin:40px auto}
.content h3{ font:22px/32px Microsoft Yahei; color:white; border-bottom:1px solid #f79420; overflow:hidden; margin-bottom:30px}
.content ul{ width:633px; margin:0 auto}
.content li.d1,.content li.d2{ height:100px; overflow:hidden;}
.content li.d1{ background:url(../images/631100.png) left top no-repeat}
.content li.d2{ background:url(../images/633100.png) left top no-repeat}
.content li.m{ height:30px; background:url(../images/2929.png) center top no-repeat;}
.content li.d1 p,.content li.d2 p{ font:18px/21px Microsoft Yahei; color:#333; float:left; width:520px; padding-top:30px}
.content li.d1 span,.content li.d2 span{ font:22px/28px Microsoft Yahei; color:#333; }
.content li.d2 p{ padding-left:30px;  width:490px;}
.content li.d1 span{ width:84px; height:84px; display:block; float:left;  margin:20px 0 0 27px }
.content li.d2 span{ width:74px; height:84px; display:block; float:right; margin:20px 0 0 29px; padding-left:10px }