@charset "utf-8";
/* CSS Document */

.content{ width:1021px; margin:40px auto}
.content h3{ font-size:22px;line-height: 32px; color:#333333; border-bottom:1px solid #f79420; overflow:hidden; margin-bottom:30px}
.content h3 span{ float:right; font-size:16px;line-height: 32px; color:#333}
.content .text{ overflow:hidden;}
.content .text img{float:left; margin-right:15px}
.content .text p{ font-size:14px;line-height: 23px; color:#333}

.page{ font-size:0; text-align:center; margin-top:35px;}
.page a{ display:inline-block; width:24px; height:24px; *display:inline; zoom:1; font-size:12px;line-height: 24px; color:#999999; border:1px solid #ccc; margin:0 3px; }
.page a.cur{ border-color:#999; color:#666}