@charset "utf-8";
/* CSS Document */

.banner{ height:393px; overflow:hidden; position:relative}
.join{border-top: 3px solid #d1ae5e; height:205px; background: #394156;font-size:40px;line-height: 205px; text-align:center; color:white}

.content{ width:1021px; margin:0 auto; padding:30px 0 150px;}
.content h3{ font-size:22px;line-height: 38px; color:#d1ae5e; border-bottom:1px solid #d1ae5e;}
.content h3 a{
 color:#d1ae5e;
}
.content1{ border:1px solid #d1ae5e; margin-top:26px; padding:16px; border-radius:5px;}
.content1 table{ width:100%; border-collapse:collapse;}
.content1 table th{ border-bottom:1px solid #ddd; font-size:16px;line-height: 32px; color:#d1ae5e;}
.content1 table td{ font-size:14px;line-height: 36px; color:white; text-align:center}
.content1 table td a{
 color: white;
}

/* .page{ font-size:0; text-align:right; margin-top:35px;}
.page a{ display:inline-block; width:24px; height:24px; *display:inline; text-align:center; zoom:1; font:12px/24px Microsoft Yahei; color:#999999; border:1px solid #ccc; margin:0 3px; }
.page a.cur{ border-color:#999; color:#666} */


.page{ font-size:0; text-align:right; margin-top:35px;}
/* .page{ margin:30px 0; font-size:0; text-align:center} */
 .page li{ list-style: none; position: relative; width: auto !important; height: auto !important; 
 margin: 0 5px; cursor: pointer; display: inline-block; 
 display:inline-block; font-size:12px;line-height: 28px;
 border:1px solid #ccc;  color:#a4a4a4 }
 .page li a{ font-size:12px;line-height: 28px;
  color:#a4a4a4; display: block; padding: 0 15px}
 .page li.thisclass{ background:#666; color:#fff;
 border-color:#666; padding: 0 15px } 
 .page li span.pageinfo{ position: absolute; width: 200px; display: block;}

